#jb-inspector-top {}
.jbart-window-frame { position: absolute;
  top: 40px;
  left: 40px;
  background: #F9F9F9;
  border: 1px solid #BEBEBE;
  box-shadow: 2px 5px 9px #ccc;
  min-width: 300px;
  min-height: 100px;
  overflow: auto;
}
.jbart-window-title {
  cursor: move;
  text-align: left;
  background: #fff url('jbart.png') no-repeat 5px 9px;
  font-weight: bold;
  padding: 7px 10px 7px 30px;
  color: #6D6E71;
  min-height: 12px;
  border-bottom: 1px solid #BEBEBE;	
}
.jbart-window-close {
  position: absolute;
  cursor: pointer;
  right: 4px;
  top: 4px;
  font: 21px sans-serif;
  border: none;
  background: transparent;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  font-weight: 700;
  opacity: .2;
}
#jb-inspector-version { font-size: 14px; }