/* itemlist: bootstrap-list-group */
.bootstrap-list-group { margin: 0; padding: 0; padding-bottom: 1px; list-style-type: none;}
.bootstrap-list-group>li:first-child, .jb-first-in-group { /* border-top-left-radius: 4px; */ /* border-top-right-radius: 4px; */ }
.bootstrap-list-group>li:last-child, .jb-last-in-group  { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom: 1px solid #337ab7;}
.bootstrap-list-group>li { display: block; padding: 5px 15px; /* margin-bottom: -1px; */ background-color: rgb(255, 255, 255);
 /* border: 1px solid rgb(221, 221, 221); */ box-sizing: border-box;
 border-left: 1px solid #337ab7; border-right: 1px solid #337ab7; border-top: 1px solid rgb(221, 221, 221); border-right: 1px solid #337ab7;}
.bootstrap-list-group>li:hover { background: #f5f5f5; cursor: pointer;}
.bootstrap-list-group>li.selected { background-color: #337ab7; border-color: #337ab7; color: #fff;}

.bootstrap-list-group::-webkit-scrollbar { width: 12px; }
.bootstrap-list-group::-webkit-scrollbar-thumb { background-color: rgba(182, 176, 176, 0.5); border: 2px solid #ffffff; border-top: none; border-bottom: none;}
.bootstrap-list-group::-webkit-scrollbar-track { background-color: transparent; }

/* label: bootstrap-h1 */
.bootstrap-h1 { font-size: 36px;	margin: 20px 0 10px 0; font-weight: 500;	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #333;  line-height: 1.1; }

/* label: bootstrap-h2 */
.bootstrap-h2 {	font-size: 30px; 	margin: 20px 0 10px 0; font-weight: 500;	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #333;  line-height: 1.1; }

/* label: bootstrap-h3 */
.bootstrap-h3 {	font-size: 24px; 	margin: 20px 0 10px 0;	font-weight: 500;	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #333;  line-height: 1.1; }

/* label: bootstrap-h4 */
.bootstrap-h4 {	font-size: 13px; 	margin: 10px 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #333;  font-weight: 500;	line-height: 1.1; 	/* background-color: #337ab7; */	/* color: #fff; */	/* padding: .2em .6em .3em; */	/* display: inline-block; */	/* border-radius: 2.6px; */	border-color: #337ab7;	border-top: 1px solid #337ab7;	border-left: 1px solid #337ab7;	border-right: 1px solid #337ab7;	color: #fff;  background-color: #337ab7;	font-size: 16px;	padding: 10px 15px;	border-top-left-radius: 3px;	margin: 20px 0 0 0;	border-top-right-radius: 3px;}

h4.bootstrap-h4.jb-group {}

/* label: bootstrap-h5 */
.bootstrap-h5 {	font-size: 14px; 	margin: 10px 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #333;  font-weight: 500;	line-height: 1.1; }

/* label: bootstrap-h6 */
.bootstrap-h6 {	font-size: 12px; margin: 10px 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #333;  font-weight: 500;	line-height: 1.1; }

/* label: bootstrap-label */
.bootstrap-label { font-size: 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #333;  line-height: 1.42857143; }

/* table: bootstrap-table */
.bootstrap-table>thead>tr>th { vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 8px; line-height: 1.42857143; text-align: left;}
.bootstrap-table { border: 1px solid #ddd; border-radius: 4px; border-spacing: 0;  width: 100%; }
.bootstrap-table>tbody>tr>td { padding: 8px; line-height: 1.42857143; vertical-align: top; }
.bootstrap-table>tbody>tr:not(:first-child)>td { border-top: 1px solid #ddd; }

/* group: bootstrap-group */
.bootstrap-group { border: 1px solid rgb(221, 221, 221); padding: 5px 15px; border-radius: 4px; }
.bootstrap-group::-webkit-scrollbar { width: 12px; }
.bootstrap-group::-webkit-scrollbar-thumb { background-color: rgba(182, 176, 176, 0.5); border: 2px solid #ffffff; border-top: none; border-bottom: none;}
.bootstrap-group::-webkit-scrollbar-track { background-color: transparent; }

/* itemlist: bootstrap-list-with-groups */
.bootstrap-list-with-groups { padding: 0; padding-bottom: 1px; list-style-type: none;}
.bootstrap-list-with-groups>li.jb-last-in-group  { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom: 1px solid #337ab7; }
.bootstrap-list-with-groups>li { display: block; padding: 5px 15px; background-color: rgb(255, 255, 255); box-sizing: border-box;
 	border-left: 1px solid #337ab7; border-right: 1px solid #337ab7; }
.bootstrap-list-with-groups>li:not(.jb-first-in-group) { border-top: 1px solid rgb(221, 221, 221); }
.bootstrap-list-with-groups>li:hover { background: #f5f5f5; cursor: pointer;}
.bootstrap-list-with-groups>li.selected { background-color: #337ab7; border-color: #337ab7; color: #fff;}
.bootstrap-list-with-groups>.jb-group {	font-size: 13px; 	margin: 10px 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #333;  font-weight: 500;	line-height: 1.1; 	/* background-color: #337ab7; */	/* color: #fff; */	/* padding: .2em .6em .3em; */	/* display: inline-block; */	/* border-radius: 2.6px; */	border-color: #337ab7;	border-top: 1px solid #337ab7;	border-left: 1px solid #337ab7;	border-right: 1px solid #337ab7;	color: #fff;  background-color: #337ab7;	font-size: 16px;	/* padding: 10px 15px; */	border-top-left-radius: 3px;	margin: 20px 0 0 0;	border-top-right-radius: 3px;}
.bootstrap-list-with-groups::-webkit-scrollbar { width: 12px; }
.bootstrap-list-with-groups::-webkit-scrollbar-thumb { background-color: rgba(182, 176, 176, 0.5); border: 2px solid #ffffff; border-top: none; border-bottom: none;}
.bootstrap-list-with-groups::-webkit-scrollbar-track { background-color: transparent; }

.bootstrap-list-with-groups.info>.jb-group { background-color: #d9edf7; color: #31708f; border-color: #bce8f1;}
.bootstrap-list-with-groups.info>li.jb-last-in-group { border-bottom-color: #bce8f1;}
.bootstrap-list-with-groups.info>li { border-right-color: #bce8f1; border-left-color: #bce8f1;}
/* section: .jb-label */
.jb-label { font-size: 14px; }

/* section: .jb-propertySheet */
.jb-propertySheet {}
.jb-propertySheet>.property {
  margin-bottom:20px;
}
.jb-propertySheet>.property:last-child {
  margin-bottom:0px;
}
.jb-propertySheet>.property>.property-title {
  width:100px;
  overflow:hidden;
  text-overflow:ellipsis;
  vertical-align:top;
  margin-top:2px;
  font-size:14px;
}
.jb-propertySheet>.property>div {
  display:inline-block;
}

/* .jb-titlesAboveFields */
.jb-titlesAboveFields {}

/*clearfix*/
.jb-titlesAboveFields:after { 
  display: block; clear: both;  content: '';
}

.jb-titlesAboveFields>.property {
	float: left;
  margin-bottom:20px;
}
.jb-titlesAboveFields>.property>.property-title {
  padding-bottom:3px; 
  color: #666;
  font-weight: bold;
  font-size: 11px;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}
.jb-titlesAboveFields>.property>div {
   vertical-align: top;
   padding-bottom: 3px;
}

/* editableText: jb-textbox */
.jb-textbox { padding: 3px; }

/* section: .jb-itemlist */
.jb-itemlist { list-style: none; padding: 0; margin: 0;}
.jb-itemlist>li { list-style: none; padding: 0; margin: 0;}
.jb-itemlist>li.selected { background: #337AB7; color: #fff ;}

/* section: .jb-btn-default */
.jb-btn-default { margin-top: 5px; margin-bottom: 5px; color: #fff; background-color: #337ab7; border-color: #2e6da4;
padding: 6px 12px;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
border: 1px solid transparent;
border-radius: 4px;
box-sizing: border-box;
 display: block;}

.jb-btn-default:active, .jb-btn-default:hover { color: #fff; background-color: #286090; border-color: #204d74; }
.jb-btn-default:focus, .jb-btn-default:active {}

/* group: horizontal-group */
.jb-horizontal-group { display:table; }
.jb-horizontal-group>* { display:table-cell; }

/* searchMark: jb-default-search-mark */
.jb-default-search-mark { color:blue; font-weight: bold; }

/* dialog: jb-default-dialog */
.jb-default-dialog { position: absolute; top: 40px; left: 40px; background: #F9F9F9; border: 1px solid #BEBEBE; box-shadow: 0 0px 9px #ccc; min-width: 300px; min-height: 50px; overflow: auto;}
.jb-default-dialog>.dialog-title { cursor: move; text-align: left; background: #fff url('../img/favicon.png') no-repeat 5px 10px; font-size 13px; font-weight: bold;
padding: 10px 10px 10px 27px; color: #6D6E71; min-height: 12px; border-bottom: 1px solid #BEBEBE; text-transform: capitalize;}
.jb-default-dialog>.dialog-content { min-width1: 300px; min-height1: 50px; overflow1: auto; padding: 10px; }
.jb-default-dialog>.dialog-close { position: absolute; cursor: pointer; right: 4px; top: 4px; font: 21px sans-serif; border: none; background: transparent; color: #000; text-shadow: 0 1px 0 #fff; font-weight: 700; opacity: .2;}
.jb-default-dialog>.dialog-close:hover { opacity: .5; }
 
 /* .jb-accordion */
 .jb-accordion>.panel.collapsed>.panel-collapse { display: none; }

 /* .jb-expandableSection */
 .jb-expandableSection.panel.collapsed>.panel-collapse { display: none; }


@font-face { font-family: KlavikaReg; src: url("Klavika-Regular.otf"); format("opentype");}
@font-face { font-family: KlavikaMed; src: url("Klavika-Medium.otf"); format("opentype");}

*::-webkit-scrollbar-track {  background:transparent; }
*::-webkit-scrollbar-thumb {  background:#CAE4CE; }
*::-webkit-scrollbar {  width:8px;  height:8px; }

/* .studio-allTests-main-group */
.studio-allTests-main-group {	margin: 25px 0 0 20px; }
.studio-allTests-main-group>div { }

/* .studio-allTest-testName */
.studio-allTest-testName { font-size: 13px; display: block; cursor: pointer;}
.studio-allTest-testName.passed { color: green;}
.studio-allTest-testName.failed { color: red; font-weight: bold;}
.studio-allTest-testName.waiting:after { content: ' ...'}
.selected .studio-allTest-testName { color: #fff;}
.selected .studio-allTest-testName.failed { color: rgb(249, 178, 178);}

/* .studio-allTests-label */
.studio-allTests-label { color: #959595; font-size: 16px; font-weight: 700; margin-bottom: 10px; display: block;}
.studio-allTests-label.failed { color: red; }

/* .studio-allTests */
.studio-allTests { width: 350px; margin: 0; padding: 0; padding-bottom: 1px; list-style-type: none; position: absolute; top: 50px; bottom: 20px; overflow: auto;}
.studio-allTests>li:first-child { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.studio-allTests>li:last-child { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.studio-allTests>li { 
display: block;
padding: 5px 15px;
margin-bottom: -1px;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(221, 221, 221);
box-sizing: border-box;
}
.studio-allTests>li:hover { background: #f5f5f5; cursor: pointer;}
.studio-allTests>li.selected { background-color: #337ab7; border-color: #337ab7; }

.studio-allTests::-webkit-scrollbar { width: 12px; }
.studio-allTests::-webkit-scrollbar-thumb { background-color: rgba(182, 176, 176, 0.5); border: 2px solid #ffffff; border-top: none; border-bottom: none;}
.studio-allTests::-webkit-scrollbar-track { background-color: transparent; }

/* .studio-allTests-widget-label */
.studio-allTests-widget-label {
	position: absolute;	left: 390px; top: 25px;:hover : #959595; font-size: 16px ; font-weight: 700;  
	cursor: pointer; 
}
.studio-allTests-widget-label:hover { text-decoration: underline; }
/* .studio-allTests-widget */

.studio-allTests-widget {
	position: absolute; 
	left: 390px; top: 50px; bottom: 20px; right: 20px; overflow: auto;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 4px;
	padding: 15px;
	background: #fff;
}

/* .studio-allTests-running */
.studio-allTests-running {
	background: #F9F9F9;
	position: absolute;
	top:0;bottom: 0;left: 0;right:0;
	font-size: 16px; font-weight: 700; color: #959595;
	padding:25px 0 0 20px;
}

/* .studio-widget-placeholder */
.studio-widget-placeholder { position: absolute; top: 109px; bottom: 47px; left: 9px; right: 10px; padding: 0;}
.studio-widget-placeholder .inner { padding: 10px; background: #fff; height: 100%; box-sizing: border-box; border: 1px solid #ccc;  border-radius: 1px;}
.studio-widget-placeholder iframe { width: 100%; height: 100%;}
.studio-widget-placeholder.shadow .inner { background: #C1C1C1; }
.studio-widget-placeholder.shadow iframe { background: #FFF; }

/* .studio-widget-name */
.studio-widget-name { font-size: 18px; position:absolute; top: 6px; left: 14px;}

/* .studio-jbart-logo */
.studio-jbart-logo { position:absolute; top: 0; left: 0; height: 60px; width: 40px; background: #1DA252;}
.studio-jbart-logo img { position:absolute; top: 18px; left: 6px; width: 24px;}

/* .studio-top-menu */
.studio-top-menu { background: #fff; position: absolute; top:0; height: 60px; left: 40px;right:0; border-bottom: 1px solid #E5E5E5;}

/* .studio-main-menu */
.studio-main-menu { position: absolute; top: 31px; left: 8px; display: -webkit-box; -webkit-box-orient: horizontal; }

/* .studio-toolbar */
.studio-toolbar { background: #F5F5F5; position: absolute; top: 60px; height: 33px; left: 0px;right:0; border-bottom: 1px solid #D9D9D9; border-top: 1px solid #fff;}

/* .studio-footer */
.studio-footer { background: #F5F5F5; position: absolute; bottom: 0px; left: 0px;right:0; border-top: 1px solid #aaa;}

/* jbstudio-top-menu-item */
.jbstudio-top-menu-item { cursor: pointer; font-size: 13px; padding: 5px 7px; color: #000; border: 1px solid transparent; -webkit-user-select: none;}
.jbstudio-top-menu-item:hover { background: #eee; }
.jbstudio-top-menu-item.dialog-open { border: 1px solid rgba(0,0,0,0.2); border-bottom: none; background: #fff; }

/* jb-studio-menu-separator */
.jb-studio-menu-separator { margin: 6px 0; border-bottom: 1px solid #EBEBEB;}

/* .studio-pages */
.studio-pages { list-style: none; padding: 0; margin: 0; margin-left: 20px;}
.studio-pages li { list-style: none; display: inline-block; padding: 12px 10px; font-size: 12px; border: 1px solid transparent; cursor: pointer;}
.studio-pages li label { cursor: inherit; }
.studio-pages li.selected {
    background: #fff;  border: 1px solid #ccc;  border-top: 1px solid transparent;
 }

/* .studio-mainmenu-popup */
.studio-mainmenu-popup { background: #fff; position: absolute; top: 50px; left: 52px;
min-width: 280px;
min-height: 30px;
box-shadow: 2px 2px 3px #d5d5d5;
padding: 3px 0;
border: 1px solid rgb(213, 213, 213);}

.studio-mainmenu-popup .studio-menu-remove-top-border {	background: #fff; height: 3px; position: absolute; top: -2px; left: 0; }

/* .studio-contextmenu-popup */
.studio-contextmenu-popup { background: #fff; position: absolute; top: 50px; left: 52px;
min-width: 180px;
min-height: 30px;
box-shadow: 2px 2px 3px #d5d5d5;
padding: 3px 0;
border: 1px solid rgb(213, 213, 213);}

/* .studio-btn-toolbar */
.studio-btn-toolbar { 
	cursor: pointer;  
	width: 22px; 
	height: 22px;  
	display: inline-block; 
	margin-top: 4px; 
	margin-left: 3px;	
	opacity: 0.7;
	border: 1px solid transparent;
	background: #F5F5F5;
	position: relative;
}
.studio-btn-toolbar span { background: #F5F5F5 url('../img/studio5-icons.png?v=16_02') no-repeat; width: 16px; height: 16px; display: block; position: absolute; top: 2px; left: 2px;}
.studio-btn-toolbar:hover { opacity: 1; border-color: #C6C6C6;}
.studio-btn-toolbar:focus { outline: none; }

/* .studio-menu-item */
.studio-menu-item {	-webkit-user-select: none;	padding: 6px 10px 6px 29px;	font-size: 13px; display: block; background: #fff;	border: none; width: 100%; text-align: left; cursor: pointer; 	position: relative;} 
.studio-menu-item:hover { background: #eee; }
.studio-menu-item:focus { outline: none; }
.studio-menu-item span { background: url('../img/studio5-icons.png?v=16_02') no-repeat; width: 16px; height: 16px; display: block; position: absolute; top: 5px; left: 6px;}

/* .studio_floating_dialog */
.studio-floating-dialog { position: absolute; top: 40px; left: 40px; background: #F9F9F9; border: 1px solid #BEBEBE; box-shadow: 0 0px 9px #ccc; min-width: 300px; min-height: 50px; overflow: auto;}
.studio-floating-dialog>.dialog-title { cursor: move; text-align: left; background: #fff url('../img/favicon.png') no-repeat 5px 9px; font-size 13px; font-weight: bold;
 padding: 7px 10px 7px 30px; color: #6D6E71; min-height: 12px; border-bottom: 1px solid #BEBEBE;}
.studio-floating-dialog>.dialog-content { min-width1: 300px; min-height1: 50px; overflow1: auto; }
.studio-floating-dialog>.dialog-close { position: absolute; cursor: pointer; right: 4px; top: 4px; font: 21px sans-serif; border: none; background: transparent; color: #000; text-shadow: 0 1px 0 #fff; font-weight: 700; opacity: .2;}
.studio-floating-dialog>.dialog-close:hover { opacity: .5; }

.studio-floating-dialog .CodeMirror { width: 550px;}

/* .section .studio-source-textarea */
.studio-source-textarea { width: 600px; height: 400px; background: #FDF6E3; }

/* .studio-edit-source-label1 */
.studio-edit-source-label1 { font-size:12px; padding-top: 3px; padding-right: 9px; padding-bottom: 5px; display: block; float: right;}

/* .studio-toolbar-left-margin*/

.studio-toolbar-left-margin { display: inline-block; width: 51px;}

/* cm */

.CodeMirror.cm-s-jbEditor {
	height: 28px; font-size: 20px;
}

.cm-warning {
	border-bottom: 1px dotted orange;
}
.cm-no-component {
	border-bottom: 2px dotted red;	
}
.cm-no-param {
	border-bottom: 2px dotted red;	
}
.cm-type-mismatch {
	border-bottom: 1px dotted orange;
}
.CodeMirror-hints { z-index: 200 !important; }

/* .studio-control-tree */
.studio-control-tree { margin: 0; padding: 7px; max-height: 400px; overflow: auto;}
.studio-control-tree:focus { outline: none; }
.studio-control-tree .treenode-children { margin: 0; padding: 1px 0 3px 10px; }

.studio-control-tree .treenode { list-style: none; padding: 1px 0;}
.studio-control-tree .treenode-line { display: -webkit-box; -webkit-box-orient: horizontal; }
.studio-control-tree .treenode-label { color: #3D443D; font-size: 12px; vertical-align: top; height: 15px; -webkit-user-select: none; padding: 1px 2px 0 1px; /* display: inline-block; */ max-width: 240px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.studio-control-tree .treenode-icon { width: 16px; height:14px; display: inline-block;  background: url('../img/studio5-icons.png?v=16_02') no-repeat; margin-right: 2px; vertical-align: top;}

.studio-control-tree .treenode-expandbox { border: none; background: none; position: relative; width:9px;	height:9px;	padding: 0;	vertical-align: top;	margin-top: 3px;	margin-right: 3px;	cursor: pointer;}
.studio-control-tree .treenode-expandbox div { position: absolute; }
.studio-control-tree .treenode-expandbox:focus { outline: none; }
.studio-control-tree .treenode-expandbox .frame { background: #F8FFF9; border-radius: 3px; border: 1px solid #91B193; top: 0px; left: 0px; right: 0px; bottom: 0px; }
.studio-control-tree .treenode-expandbox .line-lr { background: #91B193; top: 4px; left: 2px; width: 5px; height: 1px; }
.studio-control-tree .treenode-expandbox .line-tb { background: #91B193; left: 4px; top: 2px; height: 5px; width: 1px; display: none;}
.studio-control-tree .treenode.collapsed .line-tb { display: block; }
.studio-control-tree .treenode.collapsed>.treenode-children { display: none; }
.studio-control-tree .treenode.leaf .treenode-expandbox div { display: none; }
.studio-control-tree .treenode.leaf .treenode-expandbox { cursor: default; }
.studio-control-tree .treenode.leaf .treenode-children { display: none; }

.studio-control-tree .treenode.selected>div>.treenode-label { background: #D9E8FB;}

/* jbEditor */

.studio-jbExpression-popup { position: absolute; border: 1px solid gray; background: white;}

.CodeMirror.cm-s-jbExpressionEditor {
	height: 28px; font-size: 20px; width: 500px;
}

.CodeMirror-hints.jbExpressionEditor {
	font-size: 20px;
}

/* .probe-dialog-content */
.probe-dialog-content { margin:20px; }


/* .studio-select-pt-popup */
.studio-select-pt-popup { background: #fff; border:1px solid #333; max-height: 200px; overflow-y: auto; overflow-x: hidden;}

/* .studio-select-pt-input */
.studio-select-pt-input { width: 100%; box-sizing: border-box;}

/* .studio-select-pt-itemlist */
.studio-select-pt-itemlist { list-style: none; padding: 0; margin-top: 5px; width: 173px;}
.studio-select-pt-itemlist>li { list-style: none; padding: 0; margin: 0; }
.studio-select-pt-itemlist>li.selected { background: #98BAD7; color: #fff ;}

/* jb-studio-select-pt-item */
.jb-studio-select-pt-item { cursor: pointer; font-size: 13px; padding: 3px 7px; color: #000; border: none; -webkit-user-select: none;}
.jb-studio-select-pt-item:hover { background: #eee; }

/* .studio-properties-in-dialog */
.studio-properties-in-dialog {
	padding: 8px;
}
.studio-properties-in-dialog #newDirective { margin-top: 10px; padding: 2px 5px; }

/* .studio-propertySheet */
.studio-propertySheet {}
.studio-propertySheet>.property {
  margin-bottom: 13px;
}
.studio-propertySheet>.property:last-child {
  margin-bottom:0px;
}
.studio-propertySheet>.property>.property-title {
  width: 90px;
  overflow:hidden;
  text-overflow:ellipsis;
  vertical-align:top;
  margin-top: 1px;
  font-size: 13px;
  color: gray;
  font-weight: normal;
}
.studio-propertySheet>.property>div {
  display:inline-block;
}
.studio-propertySheet>.property>.jb-studio-primitive-textbox { padding: 2px 5px;}
.studio-propertySheet>.property .delete { border: none; background: none; padding: 0 5px; opacity: 0; font-family: 'Lucida Sans Unicode; Arial Unicode MS'; }
.studio-propertySheet>.property:hover .delete { opacity: 1; }

/* .jb-studio-accordion */
.jb-studio-accordion .panel { margin: 0; border-radius: 0; border: none;}
.jb-studio-accordion .panel-heading { background: #F4F4F4; border-bottom: 1px solid #BEBEBE; cursor: pointer; padding: 5px 10px;}
.jb-studio-accordion .panel-body { background: #F9F9F9; padding: 8px; overflow: auto; }

.jb-studio-accordion .panel-title a { font-size: 14px; }
.jb-studio-accordion .panel-toggle { height: 0px; width: 0px; border: 4px solid; border-color:#7B7B7B transparent transparent transparent;  margin: 9px 9px 0 0px;  display: inline-block; vertical-align: top;}
.jb-studio-accordion>.panel.collapsed .panel-toggle { border-color: transparent transparent transparent #7B7B7B;  margin-top: 7px;}
.jb-studio-accordion>.panel.collapsed>.panel-collapse { display: none; }

/* .jb-studio-primitive-arrow */
.jb-studio-primitive-arrow { border: none; cursor: pointer;  width: 0px;  height: 0px;  margin: 8px 0 0 6px;  border-top: 5px solid #91B193;  border-bottom: 3px solid transparent;  border-right: 4px solid transparent;  border-left: 4px solid transparent;
  display: inline-block;  vertical-align: top; padding: 0; background: transparent;}
.jb-studio-primitive-arrow:hover { border-top: 5px solid #6A886C; }
.jb-studio-primitive-arrow:focus { outline: none; }

/* .jb-studio-primitive-textbox */

.jb-studio-primitive-textbox { font-size: 12px;}

/* jb-studio-arrowMenu-openJbEditor */
.jb-studio-arrowMenu-openJbEditor { border: none; background: transparent;   padding: 6px 20px 6px 12px;  font-size: 13px; width: 100%;}
.jb-studio-arrowMenu-openJbEditor:hover { background: #eee; }

/* .jb-studio-primitive-jbeditor */
.jb-studio-primitive-jbeditor { text-align: left; margin: 0;   display: inline-block;  cursor: pointer; border: 1px solid #C4DBC5;  font-size: 11px;  padding: 4px 3px;  height: 24px;  width: 150px;  background: rgb(241, 248, 237); position: relative; }
.jb-studio-primitive-jbeditor:after { position: absolute; top: 3px; right: 3px; background: #F5F5F5 url('../img/studio5-icons.png?v=16_02') no-repeat; width: 16px; height: 16px;
background-position: -49px -16px; content: ''; }

/* .jb-studio-primitive-javascript */
.jb-studio-primitive-javascript { text-align: left; margin: 0;   display: inline-block;  cursor: pointer; border: 1px solid #C4DBC5;  font-size: 11px;  padding: 4px 3px;  height: 24px;  width: 150px;  background: rgb(241, 248, 237); position: relative; }
.jb-studio-primitive-javascript:after1 { position: absolute; top: 3px; right: 3px; 
	background: #F5F5F5 url('../img/studio5-icons.png?v=16_02') no-repeat; width: 16px; height: 16px;
background-position: -49px -16px; content: ''; }

/* .jb-studio-delete-array-item */
.jb-studio-delete-array-item { position: absolute; border: none; display: none; top: 10px; right: 7px; background: #F5F5F5 url('../img/studio5-icons.png?v=16_02') no-repeat -129px 0; width: 16px; height: 16px; opacity: 0.4;}
.jb-studio-array>li:hover>.jb-studio-delete-array-item { display: block; }

/* jb-studio-add-array-item */
.jb-studio-add-array-item { cursor: pointer; color: #15c; font-size: 13px; font-weight: bold; background: none; border: none; }

/* jb-studio-array */
.jb-studio-array { list-style: none;  padding: 0;  margin: 0;  border-top: 1px solid #ccc;  margin-bottom: 10px; }
.jb-studio-array>li { list-style: none;  padding: 0;  margin: 0; position: relative; }

/* jb-studio-array-expandable */
.jb-studio-array-expandable.panel { margin: 0; border-radius: 0; border: 1px solid #ccc; border-top: none;}
.jb-studio-array-expandable>.panel-heading { background: #F9F9F9; border: none; cursor: pointer; padding: 6px 10px;}
.jb-studio-accordion>.panel-collapse>.panel-body { background: #F9F9F9; padding: 8px;}
.jb-studio-array-expandable>.panel-heading a { color: #666; font-size: 13px; font-weight: bold; }
.jb-studio-array-expandable>.panel-heading .panel-toggle { height: 0px; width: 0px; border: 4px solid; border-color:#7B7B7B transparent transparent transparent;  margin: 9px 9px 0 0px;  display: inline-block; vertical-align: top;}
.jb-studio-array-expandable.collapsed>.panel-heading .panel-toggle { border-color: transparent transparent transparent #7B7B7B;  margin-top: 7px; }

.jb-studio-array-expandable.panel.collapsed>.panel-collapse { display: none; }

.jb-studio-tgpType-picklist { width: 150px; font-size: 12px; height: 23px;}

/* jb-studio-toggle-tgpType-props */
.jb-studio-toggle-tgpType-props { margin-left: 3px; border: none; background: none; width: 11px; height: 11px; position: relative; padding: 0;}
.jb-studio-toggle-tgpType-props .frame { background: #F8FFF9; border-radius: 3px;  border: 1px solid #91B193;  position: absolute;  top: 0px;  left: 0px;  right: 0px;  bottom: 0px; }
.jb-studio-toggle-tgpType-props .line1 { position: absolute; background: #91B193; top: 5px; left: 3px; width: 5px; height: 1px; box-shadow: 1px 1px 1px -1px #89A385; }
.jb-studio-toggle-tgpType-props .line2 { position: absolute; background: #91B193; left: 5px; top: 3px; height: 5px; width: 1px; box-shadow: 1px 1px 1px -1px #89A385; display: none; }

.jb-studio-toggle-tgpType-props.collapsed .line2 { display: block; }
.jb-studio-toggle-tgpType-props:focus { outline: none; }

/* jb-studio-tgpType-props */
.jb-studio-tgpType-props { margin: 12px 0 0 -79px; }

/* jb-studio-widget-to-open */
.jb-studio-widget-to-open:hover { text-decoration:underline; cursor: pointer;}

/* studio-ng-templates */
.studio-ng-templates ul { overflow: auto; max-height: 500px; margin: 0; padding: 0; max-width: 300px;}
.studio-ng-templates li { list-style: none; padding: 6px 10px; margin: 0; font-size: 14px; cursor: pointer; }
.studio-ng-templates li:nth-child(2n+1) { background: #f1f1f1; }
.studio-ng-templates li:hover { background: rgb(225, 225, 225); }
.studio-ng-templates input { width: 100%; border: none; border-bottom: 1px solid rgb(207, 204, 204); padding: 3px 10px;}

/* studio-auto-complete-popup */
.studio-auto-complete-popup { position: absolute; padding:10px 0; background: white; z-index: 201; border: 1px #ccc solid; }
.studio-auto-complete-popup .item:hover { background: #E8DDDD; }
.studio-auto-complete-popup .item td { padding: 0 10px; cursor: default; }
.studio-auto-complete-popup .value { padding-left:10px;   white-space: nowrap; text-overflow: ellipsis; max-width: 100px; overflow: hidden; display: inline-block;} 
.studio-auto-complete-popup .name { font-weight: bold; } 

/* insert-in-toolbar */
.insert-in-toolbar { margin: 5px 0 0 7px; display: inline-block; font-size: 12px; vertical-align: top; padding: 2px; }

/* inspector-top-bar */
.inspector-top-bar {
	z-index: 5000;
	position: absolute;
	top: 0px;
	left: 0px;
}